* {
  margin: 0;
  padding: 0;
  list-style: none;
}

.wrap, body, html {
  width: 100%;
  height: 100%;

}

.header {
  width: 100%;
  height: 60px;
  background: #46D264;
}

.header ul {
  width: 100%;
  height: 100%;
  display: flex;
  line-height: 60px;
  color: #ffff;
  text-align: center;
}

.header ul li {
  flex: 1;
}

.section {
  width: 100%;
}

.section .content {
  width: 100%;
  height: 200px;
}

.section .content ul {
  width: 100%;
  height: 100%;
}

.section .content ul li {
  width: 100%;
  height: 100%;
}

.section .content ul li img {
  width: 100%;
  height: 100%;
}

.section .content1 {
  width: 100%;
  height: 100px;
  border-bottom: 1px solid #efefef;
  color: #989898;
}

.section .content1 dl {
  width: 100%;
  height: 100%;
  display: flex;
}

.section .content1 dl dt {
  flex: 3;
  text-align: center;
  padding-top: 10px;
}

.section .content1 dl dt img {
  width: 80px;
  height: 80px;
}

.section .content1 dl dd {
  flex: 7;
}

.section .content1 dl dd .cont {
  display: flex;
  justify-content: space-between;
  color: #FF9900;
}

.section .content1 dl dd .cont1 {
  display: flex;
}

.section .content1 dl dd .cont1 b {
  padding: 0 5px;
}

.section .content1 dl dd .cont2 {
  display: flex;
  justify-content: space-between;
}
