* {
    margin: 0px;
    padding: 0px;
    font-size: 0.14rem;
    text-decoration: none;
    box-sizing: border-box;
}

ul,
li {
    list-style: none;
}

html {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -o-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-size: 625%;
}

img,
div,
body,
html,
ul,
li,
a {
    -webkit-touch-callout: none;
    vertical-align: middle;
}

input {
    -webkit-appearance: none;
}

html,
body,
.wrap {
    width: 100%;
    height: 100%;
    background: #F5F5F5;
}

.wrap {
    display: flex;
    flex-direction: column;
}

header {
    width: 100%;
    height: 0.45rem;
    background: #46D265;
    h1 {
        font-style: normal;
        color: white;
        text-align: center;
        line-height: 0.45rem;
    }
}

.banner {
    position: relative;
    width: 100%;
    height: 1.22rem;
    img {
        width: 100%;
        height: 100%;
    }
    .page {
        position: absolute;
        top: 95%;
        z-index: 33;
    }
}

section {
    width: 100%;
    flex: 1;
    overflow-y: scroll;
    .count {
        width: 100%;
        dl {
            padding-top: 0.15rem;
            box-sizing: border-box;
            display: flex;
            width: 100%;
            padding-left: 0.2rem;
            height: 1.02rem;
            border-bottom: 0.01rem solid rgb(136, 130, 130);
            dt {
                width: 0.65rem;
                height: 0.65rem;
                img {
                    width: 100%;
                    height: 100%;
                }
            }
            dd {
                position: relative;
                flex: 1;
                padding-left: 0.2rem;
                span {
                    display: block;
                    width: 0.6rem;
                    height: 0.2rem;
                    background: #FE9900;
                    color: antiquewhite;
                }
                i {
                    position: absolute;
                    top: 0.2rem;
                    right: 0.3rem;
                    font-style: normal;
                    b {
                        font-style: normal;
                        color: #FE9900;
                    }
                }
                ul {
                    display: flex;
                    li:nth-child(2) {
                        padding-left: 0.1rem;
                    }
                }
                ol {
                    display: flex;
                }
                em {
                    font-style: normal;
                    position: absolute;
                    bottom: 0.1rem;
                    right: 0.3rem;
                }
            }
        }
    }
}